<body>
<div align="right">
	<p>您好，{{ nickname }}</p>
	<button><a href="/addProblem/">手动增加</a></button>
	<button><a href="/addProblems/">批量增加</a></button>
</div>

<table border="1" align="center">
<tr><th>序号</th><th>题干</th><th>题肢</th><th>题型</th><th>答案</th><th colspan="2">操作</th></tr>
{% for problem in problems %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ problem.problem }}</td>
		<td>
			{% for option in problem.options %}
				<input type="radio" name="problem{{ forloop.parentloop.counter }}" value="{{ forloop.counter }}">{{ option }}
			{% endfor %}
		</td>
		<td>
			{% ifequal problem.type 'single' %}单选{% endifequal %}
			{% ifequal problem.type 'multiple' %}多选{% endifequal %}
			{% ifequal problem.type 'correction' %}判断{% endifequal %}
		</td>
		<td>{{ problem.answer }}</td>
		<td><button><a href="/editProblem?myID={{ problem.myID }}">修改</a></button></td>
		<td><button><a href="/deleteProblem?myID={{ problem.myID }}">删除</a></button></td>
	</tr>
{% endfor %}
</table>
</body>